<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Assistant&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' >
    <link
      href="https://fonts.googleapis.com/css2?family=Assistant:wght@400;700;800&display=swap"
      rel="stylesheet"
    />
    <title>Neal's Life</title>
  </head>

  <body>
    <header id="header">
      <nav id="nav">
        <div class="nav">
          <div id="logo">
            <a href="/">LAHIANY Neal</a>
          </div>
          <div id="nav-link">
            <a href="/">Home</a>
            <a href="/project">Works</a>
          </div>
          <div id="theme-switch">
            <img src="../img/sun.png" alt="" />
          </div>
        </div>
      </nav>
    </header>
    <main>
      <article class="article-description">
        <!-- <div class="article-img"></div> -->
        <h4 class="article-presentation">Hello, I'm a junior Full-Stack developer looking for a job ! </h4>
        <div class="description">
          <div class="description-text">
            <h2 id="description-title">LAHIANY Neal</h2>
            <h4 id="description-img">Full-Stack Developer JavaScript</h4>
          </div>
          <div class="description-img">
            <img src="" alt="" />
          </div>
        </div>
      </article>
      <article class="article work">
        <div id="article-work">
          <h2 id="article-work--title" class="article-title">Work</h2>
          <p id="article-work--description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident,
            odit. Minus sit alias repudiandae sapiente doloremque nostrum fugit
            voluptatum nesciunt fugiat dolor. Cumque incidunt ea maxime
            praesentium eaque asperiores provident. Dolor maxime neque
            laboriosam temporibus sequi ut similique, inventore vitae
            perspiciatis debitis. Similique a sit ad voluptatem obcaecati quia
            magnam totam nam sint? Saepe tenetur expedita quae cupiditate
            repellat repellendus!
          </p>
        </div>
        <button id="portfolio">
          <a href="/project" id="portofolio-link"
            >My portfolio <img src="../img/right-arrow.png" alt=""
          /></a>
        </button>
      </article>
      <article class="article bio">
        <div id="article-bio">
          <h2 id="article-bio--title" class="article-title">Bio</h2>
          <span class="bio-date"
            ><strong>2017 - 2020 :</strong> Licence d'Économie à l'université
            Paris Diderot</span
          >
          <span class="bio-date"
            ><strong>2017 - 2020 :</strong> Job étudiant - Directeur Adjoint
            d'un supermarché G20</span
          >
          <span class="bio-date"
            ><strong>2021 - 2022 :</strong> Master Ingénieries d'affaires - Bras
            droit du CEO en alternance au sein de l'entreprise
            "Instant-Lunch"</span
          >
          <span class="bio-date"
            ><strong>2022 - 2023 :</strong> Formation Développeur Full-Stack
            JavaScript spécialisation Data et API chez O'Clock</span
          >
        </div>
      </article>
      <article class="article hobbies">
        <div id="article-hobbies">
          <h2 id="article-hobbies--title" class="article-title">Hobbies</h2>
          <div class="hobbies-list">
            <span>I love playing Basketball</span>
          </div>
          <div class="hobbies-list">
            <span>I love playing Basketball</span>
          </div>
          <div class="hobbies-list">
            <span>I love playing Basketball</span>
          </div>
          <div class="hobbies-list">
            <span>I love playing Basketball</span>
          </div>
        </div>
      </article>
      <article class="article web">
        <div id="article-web">
          <h2 id="article-web--title" class="article-title">On the web</h2>
          <div class="web-link">
              <div class="web-link-github">
                <box-icon type='logo' name='github'></box-icon>
                <a href="https://github.com/Neeal20?tab=repositories">@Neeal20</a>
              </div>
              <div class="web-link-linkedin">
                <box-icon name='linkedin' type='logo' ></box-icon>
                <a href="https://github.com/Neeal20?tab=repositories">@LAHIANY Neal</a>
              </div>
              <div class="web-link-gmail">
                <box-icon name='gmail' type='logo' ></box-icon>
                <a href="https://github.com/Neeal20?tab=repositories">@nlahiany@gmail.com</a>
              </div>
          </div>
        </div>
      </article>
    </main>

    <%- include("partials/footer")  %> 
    <script src="../js/app.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

  </body>
</html>
